.window{
	width: 632px;
	height: 340px;
	margin: 50px auto;
	overflow: hidden;
}

.images{
	position: relative;
}

.images img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s;
}

.images img.current{
	transform: translateX(0);
	z-index: 1;
}

.images img.leave{
	transform: translateX(100%);
}

.images img.enter{
	transform: translateX(-100%);
}

